@page
@model Eventsphere.Areas.Identity.Pages.Form_Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FormEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormEvent.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.EventName" class="control-label"></label>
                <input asp-for="FormEvent.EventName" class="form-control" />
                <span asp-validation-for="FormEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.Location" class="control-label"></label>
                <input asp-for="FormEvent.Location" class="form-control" />
                <span asp-validation-for="FormEvent.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.Poster" class="control-label"></label>
                <input asp-for="FormEvent.Poster" class="form-control" />
                <span asp-validation-for="FormEvent.Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.EventDate" class="control-label"></label>
                <input asp-for="FormEvent.EventDate" class="form-control" />
                <span asp-validation-for="FormEvent.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.StartTime" class="control-label"></label>
                <input asp-for="FormEvent.StartTime" class="form-control" />
                <span asp-validation-for="FormEvent.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FormEvent.EndTime" class="control-label"></label>
                <input asp-for="FormEvent.EndTime" class="form-control" />
                <span asp-validation-for="FormEvent.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormEvent.About" class="control-label"></label>
                <input asp-for="FormEvent.About" class="form-control" />
                <span asp-validation-for="FormEvent.About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
