@using Microsoft.AspNetCore.Identity
@using Eventsphere.Areas.Identity.Data

@inject SignInManager<EventsphereUser> SignInManager
@inject UserManager<EventsphereUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Profile">
                Hello @user?.FirstName!
            </a>

        </li>
    }
</ul>
