@page
@model Eventsphere.Areas.Identity.Pages.HelpCenterModel
@{
	ViewData["Title"] = "Help Center";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="text-black">
	<h2>
		This is the help center
	</h2>
</div>