html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.main-container {
    background: #FFF7D9;
    padding: 20px 50px 20px 50px;
    border-radius: 12px;
    margin-bottom: 60px;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Montserrat,sans-serif;
}

button {
    background: linear-gradient(to right, #00BF63 35%,#FF3131 100% );
    border—radius: 8px;
    border: 0;
    width: 100%;
    height: 35px;
}

    button:hover {
        background: white;
        font-weight: bold;
        border: 1px solid transparent;
        border-image: linear-gradient(#00BF63, #FF3131) 1;
    }

.footer-links{
    display: flex;
    align-items: center;
}

.footer-links a{
    text-decoration: none;
    margin-right: 10px;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-item img,
.ms-auto button {
    transition: transform 0.3s ease-in-out;
}

    .navbar-nav .nav-item a:hover,
    .navbar-nav .nav-item img:hover,
    .ms-auto button:hover {
        transform: scale(1.3); /* Slightly enlarges the element */
    }


.footer-links a,
.footer-logo img {
    transition: transform 0.3s ease-in-out;
}

    .footer-links a:hover,
    .footer-logo img:hover {
        transform: scale(1.1); /* Slight zoom in on hover */
    }
