html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Montserrat,sans-serif;
}

button {
    background: linear-gradient(to right, #00BF63 35%,#FF3131 100% );
    border—radius: 8px;
    width: 100%;
}

.footer-links{
    display: flex;
    align-items: center;
}

.footer-links a{
    text-decoration: none;
    margin-right: 10px;
}